{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block content %}

    <main class="events_list">

        <div class="uk-container">
            <ul class="uk-subnav uk-subnav-pill"
                uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                <li><a href="#">konferanslar</a></li>
                <li><a href="#">kongreller</a></li>
            </ul>

            <ul class="uk-switcher">

                <li>
                    <div class="events">
                        {% for item in conference_list %}
                            {% if item.mode == 'conference' %}
                                <div class="event">
                                    <div class="date">
                                        <span>{{ item.date_start|date:'d' }}</span>
                                        <p>{{ item.date_start|date:'F' }}</p>
                                    </div>

                                    <div class="e_desc">
                                        <h5>{{ item.title }}</h5>
                                        <p>{{ item.description }}</p>

                                        <a href="{% url 'single_event' item.id %}">Fazlasını göster</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </li>
                <li>
                    <div class="events">
                        {% for item in conference_list %}
                            {% if item.mode == 'kongre' %}
                                <div class="event">
                                    <div class="date">
                                        <span>{{ item.date_start|date:'d' }}</span>
                                        <p>{{ item.date_start|date:'F' }}</p>
                                    </div>

                                    <div class="e_desc">
                                        <h5>{{ item.title }}</h5>
                                        <p>{{ item.description }}</p>

                                        <a href="{% url 'single_event' item.id %}">Fazlasını göster</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </li>
            </ul>

{#            <div>#}
{#                <a class="uk-button uk-button-default show_more" href="#">Fazlasını göster</a>#}
{#            </div>#}

        </div>
    </main>


{% endblock %}