{% load staticfiles i18n %}

<header uk-sticky>
    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

            <a class="uk-navbar-item uk-logo" href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
            <p>{% trans 'slogan' %}</p>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="{% url 'index' %}">{% trans "main" %}</a></li>

                    {% if index %}
                        <li><a href="#about">{% trans 'about' %}</a></li>

                    {% endif %}
                    <li><a href="{% url 'universities' %}">{% trans 'university' %}</a></li>
                    <li><a href="{% url 'all_news' %}">{% trans 'news' %}</a></li>
                    <li><a href="{% url 'conference' %}">{% trans 'activities' %}</a></li>
                    {% if index %}
                        <li><a href="#gallery">{% trans 'gallery' %}</a></li>
                        <li><a href="#contacts">{% trans 'contact' %}</a></li>
                    {% endif %}
                </ul>

                {#                <select class="uk-select">#}
                {#                    <option><a href="/en">EN</a></option>#}
                {#                    <option>KG</option>#}
                {#                    <option>TR</option>#}
                {#                </select>#}
                <ul class="languages">
                    <li><a href="/en">EN</a></li>
                    <li><a href="/">TR</a></li>
                </ul>


            </div>

        </nav>
    </div>
</header>