{% load staticfiles %}

<header uk-sticky>
    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

            <a class="uk-navbar-item uk-logo" href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
            <p>MERKEZİ ASYA <br> ÜNİVERSİTELER BİRLİĞİ</p>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="#">Ana sayfa</a></li>
                    <li><a href="{% url 'all_news' %}">haberler ve duyurular</a></li>
                    <li><a href="#about">hakkimizda</a></li>
                    <li><a href="#universities">ÜNİVERSİTELER</a></li>
                    <li><a href="{% url 'conference' %}">etkİnlİkler</a></li>
                    <li><a href="#gallery">GALERİ</a></li>
                    <li><a href="#contacts">İLETİŞİM</a></li>
                </ul>

{#                <select class="uk-select">#}
{#                    <option><a href="/en">EN</a></option>#}
{#                    <option>KG</option>#}
{#                    <option>TR</option>#}
{#                </select>#}
                <ul class="languages">
                    <li><a href="/en">EN</a></li>
                    <li><a href="/tr">TR</a></li>
                </ul>



            </div>

        </nav>
    </div>
</header>