{% load staticfiles %}

<header>
    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

            <a class="uk-navbar-item uk-logo" href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
            <p>MERKEZİ ASYA <br> ÜNİVERSİTELER BİRLİĞİ</p>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="#">Ana sayfa</a></li>
                    <li><a href="{% url 'all_news' %}">haberler ve duyurular</a></li>
                    <li><a href="#">hakkimizda</a></li>
                    <li><a href="#">universiteler</a></li>
                    <li><a href="{% url 'conference' %}">etkinlikler</a></li>
                    <li><a href="#">GALERİ</a></li>
                    <li><a href="#">İLETİŞİM</a></li>
                </ul>

                <select class="uk-select">
                    <option>EN</option>
                    <option>KG</option>
                    <option>TR</option>
                </select>

            </div>

        </nav>
    </div>
</header>