{% extends 'base.html' %}

{% load staticfiles thumbnail i18n %}
{% block content %}
    <section class="sl_container">
        <div class="sl_block">
            <div class="main_slider">
                {% for item in slider %}
                    <div class="sl_slide">
                        {% thumbnail item.image "1354x655" as im %}
                            <img src="{{ im.url }}" alt="image">
                        {% endthumbnail %}
                        {% if item.title %}
                            <h1>{{ item.title }}</h1>
                        {% endif %}
                        <div class="sl_hover"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="news_container">
        <div class="uk-container">
            <div class="title">
                <h4>{% trans 'news' %}</h4>
                <a href="#"></a>
            </div>

            <div class="news_slider">
                {% for item in news %}
                    <div class="sl_slide">
                        <div class="news">
                            <div class="n_img">
                                {% thumbnail item.image "380x180" as im %}
                                    <img src="{{ im.url }}" alt="image">
                                {% endthumbnail %}
                            </div>

                            <div class="n_desc">
                                <h5>{{ item.title }}</h5>
                                <p>{{ item.description }} </p>
                            </div>

                            <div class="n_date">
                                <a href="{% url 'single_news' item.id %}">{% trans 'more' %}</a>
                                <span>{{ item.timestamp|date:'d-M-Y' }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="tabs_container">
        <div class="uk-container">
            <div class="title" id="about">
                <h4>{% trans 'about' %}</h4>
            </div>
        </div>

        <div class="tabs_block">
            <div class="uk-container">
                <ul class="uk-subnav uk-subnav-pill"
                    uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                    <li><a href="#">{% trans 'foundation' %}</a></li>
                    <li><a href="#">{% trans 'goals' %}</a></li>
                    <li><a href="#">{% trans 'main_activities' %}</a></li>
                    <li><a href="#">{% trans 'procedure' %}</a></li>
                    <li><a href="#">{% trans 'found_board' %}</a></li>
                </ul>

                <ul class="uk-switcher">
                    <li>
                        <div class="about-us">
                            <img src="{% static 'img/maub.jpg' %}" alt="image">
                            <p>{% trans 'foundation_text' %}</p>
                        </div>

                    </li>
                    <li>{% trans 'goals_text' %}
                    </li>
                    <li>{% trans 'activity_text' %}
                    </li>
                    <li>{% trans 'procedure_text' %}
                    </li>
                    <li>
                        <h2><a href="{{ regulation.reg_file.url }}" target="_blank">{{ regulation.title }}</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="universities_container" id="universities">
        <div class="uk-container">
            <div class="title">
                <h4>{% trans 'university' %}</h4>
                <a href="#"></a>
            </div>

            <div class="universities_slider">
                {% for item in universities %}
                    <div class="sl_slide">
                        <a href="{{ item.link }}" target="_blank">
					<span class="u_img">
						<img src="{{ item.image.url }}" alt="image">
					</span>
                            <p>{{ item.name }}</p>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>


    <section class="events_container">
        <div class="uk-container">
            <div class="events_block">
                <h4>{% trans 'confer' %}</h4>
                <div class="events">
                    {% for konferens in konferans %}
                        <div class="event">
                            <div class="date">
                                <span>{{ konferens.date_start|date:'d' }}</span>
                                <p>{{ konferens.date_start|date:'F' }}</p>
                            </div>

                            <div class="e_desc">
                                <h5>{{ konferens.title }}</h5>
                                <p>{{ konferens.description }}</p>

                                <a href="{% url 'single_event' konferens.id %}">{% trans 'more' %} </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="events_block">
                <h4>{% trans 'kongre' %}</h4>
                <div class="events">
                    {% for konferens in congre %}
                        <div class="event">
                            <div class="date">
                                <span>{{ konferens.date_start|date:'d' }}</span>
                                <p>{{ konferens.date_start|date:'F' }}</p>
                            </div>

                            <div class="e_desc">
                                <h5>{{ konferens.title }}</h5>
                                <p>{{ konferens.description }}</p>

                                <a href="{% url 'single_event' konferens.id %}">{% trans 'more' %} </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <section class="gallery_container" id="gallery">
        <div class="uk-container">
            <div class="title">
                <h4>{% trans 'gallery' %}</h4>
            </div>
        </div>


        <div class="gallery">
            <div class="uk-container">
                <div class="gallery_slider" uk-lightbox="animation: scale">
                    {% for item in gallery %}
                        <div class="sl_slide">
                            {% thumbnail item.image "380x320" as im %}
                                <a class="uk-inline" href="{{ item.image.url }}" caption="{{ item.title }}">
                                    <img src="{{ im.url }}" alt="">
                                </a>
                            {% endthumbnail %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}

{% endblock %}