{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block content %}
    <section class="sl_container">
        <div class="sl_block">
            <div class="main_slider">
                {% for item in slider %}
                    <div class="sl_slide">
                        <img src="{{ item.image.url }}" alt="image">
                        <h1>{{ item.title }}</h1>
                        <div class="sl_hover"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="news_container">
        <div class="uk-container">
            <div class="title">
                <h4>Haberler ve duyurular</h4>
                <a href="#">Tum arhiv</a>
            </div>

            <div class="news_slider">
                {% for item in news %}
                    <div class="sl_slide">
                        <div class="news">
                            <div class="n_img">
                                {% thumbnail item.image "380x180" as im %}
                                    <img src="{{ im.url }}" alt="image">
                                {% endthumbnail %}
                            </div>

                            <div class="n_desc">
                                <h5>{{ item.title }}</h5>

                                <p>{{ item.description }} </p>
                            </div>

                            <div class="n_date">
                                <a href="{{ item.get_absolute_url }}">Fazlasını göster</a>
                                <span>{{ item.timestamp|date:'d-M-Y, h:m' }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="tabs_container">
        <div class="uk-container">
            <div class="title">
                <h4>hakkimizda</h4>
            </div>
        </div>

        <div class="tabs_block">
            <div class="uk-container">
                <ul class="uk-subnav uk-subnav-pill"
                    uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                    <li><a href="#">Kuruluş</a></li>
                    <li><a href="#">Amaç ve Hedefler</a></li>
                    <li><a href="#">Temel Faaliyetler:</a></li>
                    <li><a href="#">Birliğin Yönetim Şekli</a></li>
                    <li><a href="#">Kurucu Yürütme</a></li>
                </ul>

                <ul class="uk-switcher">
                    <li>
                        <div class="about-us">
                            <img src="{% static 'img/maub.jpg' %}" alt="image">
                            <p>Merkezi Asya ve ona komşu olan ülkelerin üniversitelerinden aşağıdaki amaç ve hedefler
                                doğrultusunda birlikte hareket etmeyi benimsemiş bulunan yüksek öğretim kurumlarının
                                oluşturduğu Merkezi Asya Üniversiteler Birliği (MAÜB) kurulması hedeflenmiştir.</p>
                        </div>

                    </li>
                    <li>Merkezi Asya’da bilimsel, ekonomik, sosyal ve kültürel işbirliğinde önemli rol oynayacağı, bölge
                        ülkeleri arasındaki işbirliğinin güçlendirilmesine katkıda bulunacağı, bölge milletleri ve
                        halkları
                        arasında yakınlaşmaya zemin hazırlayacağı inancı ile kurulan “Merkezi Asya Üniversiteler
                        Birliği’nin” amacı üniversiteler, yükseköğretim kurumları ve bunlarla işbirliği yapan kurum ve
                        kuruluşlar arasında işbirliğini artırmak, uluslararasılaşmayı desteklemek, öğretim elemanı ve
                        öğrenci hareketliliğini sağlamak, ortak diploma programları geliştirmek, program geliştirme ve
                        kredi transfer sistemleri üzerinde birliktelik sağlamak, kalite güvence sistemi oluşturmak ve
                        akreditasyon mekanizmaları üzerinde çalışmak, üye olan üniversitelerin güçlü olduğu alanları
                        dikkate alarak bölgesel kalkınmaya katkı sağlayacak projeleri geliştirmektir.
                    </li>
                    <li>* Kongreler, sempozyumlar, seminerler ve çalıştaylar <br>
                        * Fuarlar, şölenler, sergiler, müsabakalar<br>
                        * Hizmet içi eğitim faaliyetleri, kurslar, yaz okulları<br>
                        * Yerel ve bölgesel gelişmeyi destekleyecek çok uluslu ortak projeler<br>
                        * Halkların yakınlaşması ve kültürler arası diyaloğa yönelik projeler<br>
                        * Öğrenci, öğretim elemanı değişim projeleri<br>
                        * Yönetici ve idari personel tecrübe paylaşım programları<br>
                        * Ortak eğitim programı geliştirme ve kredi transfer sistemi oluşturma çalışmaları<br>
                        * Kalite, güvence ve akreditasyona yönelik çalışmalar<br>
                        * Benzeri uluslararası kuruluşlarla müştereken network oluşturma çalışmaları
                    </li>
                    <li>Birliğin organları; Birlik Başkanı, Birlik Genel Kurulu ve Birlik Yürütme Kuruludur. Birliğin
                        Genel
                        Kurulu, birliğe üye olan bütün üniversitelerden oluşur. Birlik Yürütme Kurulu Birlik Genel
                        Kurulu
                        tarafından 3 yıl için seçilir. Birliğin Başkanı Birlik Yürütme Kurulu tarafından 3 yıl için
                        seçilir.
                    </li>
                    <li>Birliğin organları oluşturulana kadar yukarıdaki amaç ve hedefler doğrultusunda bir araya gelen
                        üniversiteler kurucu yürütme kurulunu oluşturur, kurucu yürütme kurulunun başkanı Kırgızistan-
                        Türkiye Manas Üniversitesi Rektörüdür.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="universities_container">
        <div class="uk-container">
            <div class="title">
                <h4>kurucu uyeler</h4>
                <a href="#">Tum arhiv</a>
            </div>

            <div class="universities_slider">
                {% for item in universities %}
                    <div class="sl_slide">
                        <a href="{{ item.link }}" target="_blank">
					<span class="u_img">
						<img src="{{ item.image.url }}" alt="image">
					</span>
                            <p>{{ item.name }}</p>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>


    <section class="events_container">
        <div class="uk-container">
            <div class="events_block">
                <h4>konferanslar</h4>
                <div class="events">
                    {% for konferens in konferans %}
                        <div class="event">
                            <div class="date">
                                <span>{{ konferens.date_start|date:'d' }}</span>
                                <p>{{ konferens.date_start|date:'F' }}</p>
                            </div>

                            <div class="e_desc">
                                <h5>{{ konferens.title }}</h5>
                                <p>{{ konferens.description }}</p>

                                <a href="{{ konferens.get_absolute_url }}">Fazlasını göster</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="events_block">
                <h4>Kongreler</h4>
                <div class="events">
                    {% for konferens in congre %}
                        <div class="event">
                            <div class="date">
                                <span>{{ konferens.date_start|date:'d' }}</span>
                                <p>{{ konferens.date_start|date:'F' }}</p>
                            </div>

                            <div class="e_desc">
                                <h5>{{ konferens.title }}</h5>
                                <p>{{ konferens.description }}</p>

                                <a href="{{ konferens.get_absolute_url }}">Fazlasını göster</a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <section class="gallery_container">
        <div class="uk-container">
            <div class="title">
                <h4>galeri</h4>
            </div>
        </div>


        <div class="gallery">
            <div class="uk-container">
                <div class="gallery_slider" uk-lightbox="animation: scale">
                    {% for item in gallery %}
                        <div class="sl_slide">
                            {% thumbnail item.image "380x320" as im %}
                                <a class="uk-inline" href="{{ item.image.url }}" caption="{{ item.title }}">
                                    <img src="{{ im.url }}" alt="">
                                </a>
                            {% endthumbnail %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}

{% endblock %}