{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block content %}
    <section class="sl_container">
        <div class="sl_block">
            <div class="main_slider">
                {% for item in slider %}
                    <div class="sl_slide">
                        <img src="{{ item.image.url }}" alt="image">
                        <h1>{{ item.title }}</h1>
                        <div class="sl_hover"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="news_container">
        <div class="uk-container">
            <div class="title">
                <h4>Haberler ve duyurular</h4>
                <a href="#">Tum arhiv</a>
            </div>

            <div class="news_slider">
                {% for item in news %}
                    <div class="sl_slide">
                        <div class="news">
                            <div class="n_img">
                                {% thumbnail item.image "380x180" as im %}
                                    <img src="{{ im.url }}" alt="image">
                                {% endthumbnail %}
                            </div>

                            <div class="n_desc">
                                <h5>{{ item.title }}</h5>

                                <p>{{ item.description }} </p>
                            </div>

                            <div class="n_date">
                                <a href="{{ item.get_absolute_url }}">Read more</a>
                                <span>{{ item.timestamp|date:'d-M-Y, h:m' }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="tabs_container">
        <div class="uk-container">
            <div class="title">
                <h4>hakkimizda</h4>
            </div>
        </div>

        <div class="tabs_block">
            <div class="uk-container">
                <ul class="uk-subnav uk-subnav-pill"
                    uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">Our Stuff</a></li>
                    <li><a href="#">About me</a></li>
                    <li><a href="#">ABOUT you</a></li>
                </ul>

                <ul class="uk-switcher">
                    <li>
                        <div class="about-us">
                            <img src="{% static 'img/maub.jpg' %}" alt="image">
                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve Eğitim olmak üzere dört Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası
                                İlişkiler, İktisat, Sosyoloji ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve
                                bu alanlar erçevesinde faaliyet yürütmektedir. Araştırmacılara yardımcı Orta Orta Asya
                                Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve Eğitim
                                olmak üzere dört Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler,
                                İktisat, Sosyoloji ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar
                                erçevesinde faaliyet yürütmektedir.</p>
                        </div>

                    </li>
                    <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                        Необходимыми использовало запятых грамматики последний послушавшись курсивных моей меня наш это
                        ведущими! Домах правилами, но встретил, силуэт вопроса однажды эта рукописи запятых пустился
                        последний вершину над коварный составитель lorem своего, города предупредила взобравшись диких.
                        Страну своих рот заглавных что которой.
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quasi ipsam deleniti laboriosam
                        placeat, sit officia sed aliquid repellat vitae quis excepturi eius optio, est numquam, commodi
                        illum vel temporibus assumenda inventore similique. Obcaecati dignissimos dolor sapiente laborum
                        neque nam autem totam incidunt blanditiis ea! Accusantium aliquam optio ea, facilis repellendus.
                        Esse nihil, cumque ullam totam nam doloremque. Repellat commodi natus quae porro atque, magnam
                        dolores dolor cum eveniet nam suscipit deleniti quibusdam voluptas ut, ipsum, laborum quas
                        voluptatem id.
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit deleniti assumenda ad
                        inventore. Voluptate distinctio officia harum aliquam commodi ex fugiat ea debitis excepturi,
                        porro officiis quidem adipisci pariatur repellat molestias similique blanditiis repudiandae
                        omnis quod quae ratione eius. Ratione error a deleniti tenetur maiores! Voluptatibus dicta
                        tenetur quidem corporis. Delectus omnis veniam sequi sit nobis cum quasi consectetur laudantium
                        fugiat. Amet libero animi vel ipsum harum consectetur enim, quisquam a sapiente optio! Porro
                        repellat, facilis. Rerum, corrupti obcaecati quae, quis magnam facere placeat aspernatur
                        consequuntur neque inventore explicabo praesentium! Voluptate nostrum similique quis sapiente
                        modi suscipit, aliquam quibusdam expedita.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="universities_container">
        <div class="uk-container">
            <div class="title">
                <h4>kurucu uyeler</h4>
                <a href="#">Tum arhiv</a>
            </div>

            <div class="universities_slider">
                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/university-logo.png' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf</p>
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/tabs-bg.jpg' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf
                            asdhfhads fasdjfha sdfgasdhf adsgf asfasdhfgads f</p>
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/slider-img.jpg' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf</p>
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/news_img.jpg' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf</p>
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/news_img.jpg' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf</p>
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/news_img.jpg' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf</p>
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/news_img.jpg' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf</p>
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/news_img.jpg' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf</p>
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/news_img.jpg' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf</p>
                    </a>
                </div>

                <div class="sl_slide">
                    <a href="#">
					<span class="u_img">
						<img src="{% static 'img/news_img.jpg' %}" alt="image">
					</span>

                        <p>Eastern University named after Mahmud Kashgari-Barskani asdasdfdas sadfasdf asdfasdf</p>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="events_container">
        <div class="uk-container">
            <div class="events_block">
                <h4>konferanslar</h4>
                <div class="events">
                    <div class="event">
                        <div class="date">
                            <span>01</span>
                            <p>Haziran</p>
                        </div>

                        <div class="e_desc">
                            <h5>Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</h5>
                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde</p>

                            <a href="#">Read more</a>
                        </div>
                    </div>

                    <div class="event">
                        <div class="date">
                            <span>01</span>
                            <p>Haziran</p>
                        </div>

                        <div class="e_desc">
                            <h5>Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</h5>
                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde</p>

                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events_block">
                <h4>Kongreler</h4>
                <div class="events">
                    <div class="event">
                        <div class="date">
                            <span>01</span>
                            <p>Haziran</p>
                        </div>

                        <div class="e_desc">
                            <h5>Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</h5>
                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde
                                faaliyet yürütmektedir. </p>

                            <a href="#">Read more</a>
                        </div>
                    </div>

                    <div class="event">
                        <div class="date">
                            <span>01</span>
                            <p>Haziran</p>
                        </div>

                        <div class="e_desc">
                            <h5>Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</h5>
                            <p>Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji
                                ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde</p>

                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery_container">
        <div class="uk-container">
            <div class="title">
                <h4>galeri</h4>
            </div>
        </div>

        <div class="gallery">
            <div class="uk-container">
                <div class="gallery_slider" uk-lightbox="animation: scale">
                    <div class="sl_slide">
                        <a class="uk-inline" href="{% static 'img/tabs-bg.jpg' %}" caption="Caption 1">
                            <img src="{% static 'img/news_img.jpg' %}" alt="image">
                        </a>
                    </div>
                    <div class="sl_slide">
                        <a class="uk-inline" href="//www.youtube.com/watch?v=4bzIpYiPUUo" caption="Caption 2">
                            <img src="{% static 'img/news_img.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="sl_slide">
                        <a class="uk-inline" href="{% static 'img/tabs-bg.jpg' %}" caption="Caption 3">
                            <img src="{% static 'img/news_img.jpg' %}" alt="image">
                        </a>
                    </div>

                    <div class="sl_slide">
                        <a class="uk-inline" href="{% static 'img/tabs-bg.jpg' %}" caption="Caption 4">
                            <img src="{% static 'img/news_img.jpg' %}" alt="">
                        </a>
                    </div>

                    <div class="sl_slide">
                        <a class="uk-inline" href="{% static 'img/tabs-bg.jpg' %}" caption="Caption 5">
                            <img src="{% static 'img/news_img.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}

{% endblock %}