{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block content %}
    <main class="single_event">
        <div class="uk-container">
            <div class="event" uk-grid>
                <div class="date uk-width-1-5">
                    <span>{{ event.date_start|date:'d' }}</span>
                    <p>{{ event.date_start|date:'F' }}</p>
                </div>

                <div class="e_desc uk-width-expand">
                    <h5>{{ event.title }}</h5>
                    <span>{{ event.date_start|date:'d.m.y' }}</span>
                    <p>{{ event.description }}</p>
                </div>
            </div>
            {% if event.event_image.all %}
                <div class="gallery_slider" uk-lightbox="animation: scale">
                    {% for item in event.event_image.all %}
                        <div class="sl_slide">
                            {% thumbnail item.image "380x320" as im %}
                                <a class="uk-inline" href="{{ item.image.url }}" caption="Caption 1">
                                    <img src="{{ im.url }}" alt="">
                                </a>
                            {% endthumbnail %}

                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}