{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block content %}
    <main class="single_event">
        <div class="uk-container">
            <div class="event" uk-grid>
                <div class="date uk-width-1-5">
                    <span>{{ news.timestamp|date:'d' }}</span>
                    <p>{{ news.timestamp|date:'F' }}</p>
                </div>

                <div class="e_desc uk-width-expand">
                    <h5>{{ news.title }}</h5>
                    <span>{{ news.timestamp|date:'d.m.y' }}</span>
                    {{ news.content|safe }}
                    {% if news.files %}
                        <h5><a href="{{ news.files.url }}"  download="{{ news.title }}" target="_blank">Скачать файл</a></h5>
                    {% endif %}
                </div>
            </div>

            {% if news.news_image.all %}
                <div class="gallery_slider" uk-lightbox="animation: scale">
                    {% for item in news.news_image.all %}
                        <div class="sl_slide">
                            {% thumbnail item.image "380x320" as im %}
                                <a class="uk-inline" href="{{ item.image.url }}" caption="{{ item.title }}">
                                    <img src="{{ item.image.url }}" alt="">
                                </a>
                            {% endthumbnail %}

                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </main>
{% endblock %}