<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MAUB</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700,900&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<header uk-sticky>
		<div class="uk-container">
			<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

				<a class="uk-navbar-item uk-logo" href="#">
					<img src="img/logo.png" alt="">
				</a>
				<p>MERKEZİ ASYA <br> ÜNİVERSİTELER BİRLİĞİ</p>

				<div class="uk-navbar-right">
					<ul class="uk-navbar-nav">
						<li><a href="#">Ana sayfa</a></li>
						<li><a href="#">haberler ve duyurular</a></li>
						<li><a href="#">hakkimizda</a></li>
						<li><a href="#">universiteler</a></li>
						<li><a href="#">etkinlikler</a></li>
						<li><a href="#">GALERİ</a></li>
						<li><a href="#">İLETİŞİM</a></li>
					</ul>

					<select class="uk-select">
                <option>EN</option>
                <option>KG</option>
                <option>TR</option>
            </select>

				</div>

			</nav>
		</div>
	</header>
<main class="single_event">	
	<div class="uk-container">
		<div class="event" uk-grid>
			<div class="date uk-width-1-5" >
				<span>01</span>
				<p>Haziran</p>
			</div>

			<div class="e_desc uk-width-expand">
				<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium libero, cupiditate nostrum ad unde quos non similique at natus accusantium! Türk Üniversiteler Birliği Öğrenci Konseyi KTMÜ'de Toplandı</h5>
				<span>30.04.17</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure ipsa adipisci quaerat possimus optio veniam deleniti, facilis vel suscipit. Ab animi veniam sapiente quod, neque aliquam vero qui nam impedit, minus commodi blanditiis ipsam similique eum vel porro inventore quia? Illo facilis magni modi id dolor dolorum architecto, ex maxime sequi, quos nam, dicta iusto odio quidem ad culpa ullam nemo odit vitae soluta facere aut! Obcaecati, perferendis quae accusantium rerum aspernatur, molestias nesciunt mollitia pariatur tenetur dignissimos in cumque voluptates quisquam. Fugiat, eum sint? Facere amet quae, cum, pariatur laboriosam modi aspernatur, aliquid repudiandae doloribus hic iste perferendis?Orta Asya Araştırma Merkezi Siyaset Bilimi ve Uluslararası İlişkiler, İktisat, Sosyoloji ve Eğitim olmak üzere dört uzmanlık grubundan oluşmakta ve bu alanlar erçevesinde</p>
			</div>
		</div>

		<div class="gallery_slider" uk-lightbox="animation: scale">
			<div class="sl_slide">
				<a class="uk-inline" href="img/slider-img.jpg" caption="Caption 1">
					<img src="img/news_img.jpg" alt="">
				</a>
			</div>
			<div class="sl_slide">
				<a class="uk-inline" href="//www.youtube.com/watch?v=4bzIpYiPUUo" caption="Caption 2">
					<img src="img/news_img.jpg" alt="">
				</a>
			</div>
			<div class="sl_slide">
				<a class="uk-inline" href="img/tabs-bg.jpg" caption="Caption 3">
					<img src="img/news_img.jpg" alt="">
				</a>
			</div>

			<div class="sl_slide">
				<a class="uk-inline" href="img/tabs-bg.jpg" caption="Caption 4">
					<img src="img/news_img.jpg" alt="">
				</a>
			</div>

			<div class="sl_slide">
				<a class="uk-inline" href="img/tabs-bg.jpg" caption="Caption 5">
					<img src="img/news_img.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</main>
<footer class="uk-background-cover">
	<div class="uk-container">
		<h4>Bize ulaşın</h4>
		<div class="uk-child-width-1-2@m" uk-grid>
			<div>
				<form action="#">
					<label for="name">
						<input type="text" id="name" placeholder="İsim">
					</label>

					<label for="number">
						<input type="text" id="number" placeholder="Telefon numarası">
					</label>

					<label for="email">
						<input type="email" id="email" placeholder="E-mail">
					</label>

					<label for="comment">
						<textarea name="comment" id="comment" cols="30" rows="10" placeholder="Mesaj"></textarea>
					</label>

					<button type="submit">gönder</button>
				</form>
			</div>
			<div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.774393382183!2d74.5728474148992!3d42.83537921294476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9ebd50abdf1%3A0x14ce488dddb2fbdb!2z0JrRi9GA0LPRi9C30YHQutC-LdCi0YPRgNC10YbQutC40Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiAi0JzQsNC90LDRgSI!5e0!3m2!1sru!2sru!4v1508259088010" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="uk-child-width-1-3@m" uk-grid>
			<div class="contacts">
				<div>
					<h5>Bizim telefonlar</h5>
					<p>+996 312 49 27 88 <br> +996 312 49 27 86</p>
				</div>
			</div>
			<div class="contacts">
				<div>
					<h5>Bizim faks numaralarımız</h5>
					<p>+996 312 49 27 81-89 <br> +996 312 49 27 61</p>
				</div>
			</div>
			<div class="contacts">
				<div>
					<h5>Bizim E-mail</h5>
					<p>turkunib@turkunib.org <br> image iro@manas.edu.kg</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright">
	<div class="uk-container">
		<p>©2017 MERKEZİ ASYA ÜNİVERSİTELER BİRLİĞİ</p>
	</div>
</div>

<script src="js/main.js"></script>
</body>
</html>