{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <main class="single_event">
        <div class="uk-container">
            <div class="event" uk-grid>
                <div class="date uk-width-1-5">
                    <span>{{ event.date_start|date:'d' }}</span>
                    <p>{{ event.date_start|date:'F' }}</p>
                </div>

                <div class="e_desc uk-width-expand">
                    <h5>{{ event.title }}</h5>
                    <span>{{ event.date_start|date:'d.m.y' }}</span>
                    <p>{{ event.description }}</p>
                </div>
            </div>

            <div class="gallery_slider" uk-lightbox="animation: scale">
                <div class="sl_slide">
                    <a class="uk-inline" href="img/slider-img.jpg" caption="Caption 1">
                        <img src="img/news_img.jpg" alt="">
                    </a>
                </div>
                <div class="sl_slide">
                    <a class="uk-inline" href="//www.youtube.com/watch?v=4bzIpYiPUUo" caption="Caption 2">
                        <img src="img/news_img.jpg" alt="">
                    </a>
                </div>
                <div class="sl_slide">
                    <a class="uk-inline" href="img/tabs-bg.jpg" caption="Caption 3">
                        <img src="img/news_img.jpg" alt="">
                    </a>
                </div>

                <div class="sl_slide">
                    <a class="uk-inline" href="img/tabs-bg.jpg" caption="Caption 4">
                        <img src="img/news_img.jpg" alt="">
                    </a>
                </div>

                <div class="sl_slide">
                    <a class="uk-inline" href="img/tabs-bg.jpg" caption="Caption 5">
                        <img src="img/news_img.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}