{% extends 'base.html' %}

{% load staticfiles thumbnail i18n %}

{% block content %}
    <main class="events_list universities_list">

        <div class="uk-container">

            <h4>{% trans 'university' %}</h4>

            <ul class="uk-subnav uk-subnav-pill"
                uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                <li><a href="#">{% trans "kurucu" %}</a></li>
                <li><a href="#">{% trans "all_members" %}</a></li>
            </ul>

            <ul class="uk-switcher">
                <li>
                    <div class="universities">
                        {% for item in country %}
                            <div class="university_card">
                                <div class="university_img">
                                    {% thumbnail item.image "370x215" as im %}
                                        <img src="{{ im.url }}" alt="img">
                                    {% endthumbnail %}
                                </div>

                                <div class="c_universities">
                                    <ol>
                                        {% for university in item.university.all %}
                                            {% if university.mode == 'kurucu' %}
                                                <li><a href="{{ university.link }}"
                                                       target="_blank">{{ university.name }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ol>
                                </div>

                            </div>

                        {% endfor %}

                    </div>
                </li>
                <li>
                    <div class="universities">

                        {% for item in country %}
                            <div class="university_card">
                                <div class="university_img">
                                    {% thumbnail item.image "370x215" as im %}
                                        <img src="{{ im.url }}" alt="img">
                                    {% endthumbnail %}
                                </div>

                                <div class="c_universities">
                                    <ol>
                                        {% for university in item.university.all %}
                                            <li><a href="{{ university.link }}"
                                                   target="_blank">{{ university.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>

                            </div>

                        {% endfor %}

                    </div>
                </li>
            </ul>

        </div>
    </main>
{% endblock %}